<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let phone of phones">
    <a routerLink="/phones/{{phone.id}}">
      <img [src]= "phone.imageUrl" [alt] = "phone.name"/>
      <div class="content">
        <div class="name">
            {{phone.name}}
        </div>
        <span class="favourite {{phone.favourite?'':'not'}}">
          &#10084;
        </span>
        <div class="stars">
          <star-rating
          [value]="phone.stars"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="22px"
          [readonly]="true">
        </star-rating>
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of phone.origins in phones.origins">
              {{origin}}
            </span>
          </div>
        </div>

        <div class="price">
          <span>
            {{phone.price | currency}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
